Html, body{
    height:100%;
    width:100%
}

.grandParentContaniner{
    display:table; height:100%; margin: 0 auto;
}

.parentContainer{
    display:table-cell; vertical-align:middle;
}	

.invalid {
    background-color: #FFC0CB;
}

.valid {
    background-color: #90EE90;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
        
form {
    font-family: 'Calibri';
    color:#3c3c3b;
    background-color: #89c82e;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 35px;
    border-width: 5px;
    border-color: #3c3c3b;
    margin: auto;
    text-align: center;
    width: 350px;
}
input {
    font-family: 'Calibri';
    font-size: 16px;
    width: 250px;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 5px;
}
input[type=submit] {
    font-family: 'Calibri';
    font-size: 16px;
    background-color: #FF7AB4;
    border-radius: 7px;
    width: 80px;
    padding: 2px
}

#message {
    font-family: 'Calibri';
    font-size: 20px;
    color: #3c3c3b;
    display: none;
    width: 100%; /* Set the width of the message container to 100% */
    text-align: center; /* Center the text within the container */
    margin: auto; /* Center the container itself */
}
